<section id="don">
  <div class="container" data-aos="fade-up">
    <div class="page-wrapper bg-green p-t-100 p-b-100 font-robo">
      <div class="wrapper wrapper--w680">
        <div class="card card-1">
          <div class="card-heading"></div>
          <div class="card-body"  dir="rtl">
            <h2 class="title text-center">مرحبا بك في فضاء المتبرع</h2>
            <form method="POST">
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="إسمك" name="name">
              </div>

              <div class="input-group">
                <input class="input--style-1" type="text" placeholder="لقبك" name="name">
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder=" رقم هاتفك" name="name">
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder=" إيمايلك" name="name">
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder=" عنوانك" name="name">
              </div>
                <div class="input-group">
                  <p>وصل تبرع بقيمة</p>
                  <div class="rs-select2 js-select-simple select--no-search mr-auto ">
                    <select name="gender">
                      <option disabled="disabled" selected="selected">----</option>
                      <option>10 د.ت</option>
                      <option>  20 د.ت</option>
                      <option>  30 د.ت</option>
                      <option> مبلغ حر</option>
                    </select>
                    <div class="select-dropdown"></div>
                </div>
              </div>
              <div class="input-group">
                <input class="input--style-1" type="text" placeholder=" مقدار التبرع المقترح" name="name">
              </div>
              <div class="p-t-20" >
                <button class="btn btn--radius btn--green left" type="submit">إرسال</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
